{{page-title "Add"}}
<form class="ui form" {{action "save" @model.section on="submit"}}>
  <Input @value={{@model.section.name}} placeholder="Nom de la section"/>
  <Input @value={{@model.section.description}} placeholder="Description de la section"/>
  <button type="submit" class="ui positive button">Valider</button>
</form>
{{outlet}}