{{page-title "Store"}}

<header>
  <center>
    <a href="http://127.0.0.1:4200/accueil">
      <img src="/img/store_hfl.jpg" height="15%" width="15%">
    </a>
  </center>
</header>
<ol>
  {{#each @model as |product|}}
    <li>
      <LinkTo @route="products.update" @model={{product.id}} class="ui mini icon button">
        <i class="ui edit icon"></i>
      </LinkTo>
      {{product.name}} - <span class="ui mini tag label">{{product.section.name}}</span>
      <ul>
        {{#each product.packs as |pack|}}
          <li>{{pack.name}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ol>
<div class="ui mini menu">
  <a class="active item" href="http://127.0.0.1:4200/accueil">
    Accueil
  </a>
  <a class="item" href="http://127.0.0.1:4200/catalogue">
    Catalogue
  </a>
  <a class="item" href="http://127.0.0.1:4200/panier">
    Panier
  </a>
  <div class="right menu">
    <div class="ui icon input"><input type="text" placeholder="Rechercher..."/><i aria-hidden="true" class="search icon"></i></div>
    <div class="item">

      <div class="ui primary button" onclick="window.location='http://127.0.0.1:4200/profil';"> {{this.userAuth.user.name}} </div>
&nbsp;
      <button class="ui button" {{action "logout"}}>Logout</button>

    </div>


  </div>
</div>
<div>
  {{outlet}}
</div>
<div class="footer">
  <br>
  &copy;2021 StoreHFL.
  <br><br>
</div>
{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
