{{page-title "Catalogue"}}

<div class="profilname">
  <h2><i class="car icon"></i> Catalogue 2021 :</h2>
</div>
<br>

<div class="ui vertical menu">
  <div class="ui dropdown item">
    Categories
    <i class="dropdown icon"></i>
    <div class="menu">
  <a class="active item">
    Tout
  </a>
  <a class="item">
    Classic Cars
  </a>
  <a class="item">
    Motorcycles
  </a>
  <a class="item">
    Planes
  </a>
  <a class="item">
    Ships
  </a>
  <a class="item">
    Trains
  </a>
  <a class="item">
    Trucks and Buses
  </a>
  <a class="item">
    Vintage Cars
  </a>
</div>
</div>
</div>


{{#unless @model.hide}}
  <div class="ui success message">
    <i class="close icon"></i>
    <div class="header">
      Votre produit à bien été ajouté au panier !
    </div>
    <p>Félicitations ! </p>
  </div>
{{/unless}}
<div class="ui six cards">
{{#each @model.products as |product|}}
<div class="card">
  <div class="image">
    <img src="/img/{{product.image}}.jpg">
  </div>
  <div class="content">
    <a class="header tooltip">{{product.name}}
      <span class="tooltiptext">N° du stock : {{product.stock}}</span>
    </a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      {{product.comments}}
    </div>
  </div>
    <div class="content">
      <p>Prix : {{product.price}} $ </p>
      <button class="ui primary button right floated" id="button" {{action 'hide' @model}}>Ajouter au panier</button>
    </div>
</div>

{{/each}}
</div>
<script>$('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop'
  })
;</script>
<br><br><br><br><br><br>
{{outlet}}