{{page-title "Catalogue"}}
<!-- <a class="active item" -->
<div class="profilname">
  <h2><i class="car icon"></i> Catalogue 2021 :</h2>
</div>
<br>

<div class="ui six cards">
{{#each @model as |product|}}
<div class="card">
  <div class="image">
    <img src="/img/{{product.image}}.jpg">
  </div>
  <div class="content">
    <a class="header">{{product.name}}</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      {{product.comments}}
    </div>
  </div>
    <div class="content">
      <p>Prix : </p>
      <div class="ui primary button right floated">Ajouter au panier</div>
    </div>
</div>
{{/each}}
</div>
<!--<img src="/img/S10_1678.jpg"/>-->

<!--
<div class="ui three doubling stackable cards">
  <div class="ui card">
    <div class="image">
      <img src="/img/S10_1678.jpg"/>
        <div class="square image"></div>
    </div>
    <div class="content">
      <div class="ui placeholder">
        <div class="header">
          <div class="very short line"></div>
          <div class="medium line"></div>
        </div>
        <div class="paragraph">
          <div class="short line"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <p>Prix : </p>
      <div class="ui primary button right floated">Ajouter au panier</div>
    </div>
  </div>
</div>
<br>
<br>
-->
{{outlet}}