{{page-title "Section"}}
<h1>Section</h1><LinkTo class="right ui button" @route="section.add">Ajouter section</LinkTo>
<table class="ui small celled table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each @model.section as |section|}}
    {{#if @model.deleted}}
      <div class="ui success icon message">
        <i class="ui circle remove icon"></i>
        {{@model.deleted.name}}
      </div>
    {{/if}}
    {{#if @model.remove}}
      <div class="ui success icon message">
        <i class="ui circle remove icon"></i>
        {{@model.remove.name}}
        {{@model.remove.description}}
      </div>
    {{/if}}
    <tr>
      <td>{{section.name}}</td>
      <td> {{section.description}}</td>
      <td>
        <LinkTo @route="section.update" @model={{section.id}} class="ui mini icon button">
          <i class="ui edit icon"></i>
        </LinkTo></td>
      <td>
        <i class="ui red icon button" {{action "remove" section @model}}>
          {{#if section.isDeleted}}
            <div class="ui message">Voulez-vous supprimer {{section.name}} ?
              <span class="ui green button" {{action "delete" section}}>Validez ?</span>
              <span class="ui red button" {{action "cancelremove" section}}>Annulez ?</span>
            </div>
        {{/if}}
        </i>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
<br />
{{outlet}}